<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content="text/html">
  <meta name="vapid-key" content="4kjg42332;kfj523b5g'23gj523l52345234">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}

  <title>{{app_name}}</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="/static/js/surf/main.js"></script>

  <!-- Custom styles for this template-->
  <link href="/static/css/now-ui-kit.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  {% block additional_css %}
  {% endblock additional_css %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon rotate-n-15">
         <!--<img src="/static/img/Zisalogo.png" height="50" width="50">-->
        </div>
        <div class="sidebar-brand-text mx-3">
          <img src="/static/img/SurfMenu.png" height="100" width="100">
        </div>
      </a>
       <span class="badge badge-warning">Alpha v{{version}}</span>
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Billing
      </div>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa fa-users"></i>
          <span>Userbase</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Userbase:</h6>
            <a class="collapse-item" href="">Resellers</a>
            <a class="collapse-item" href="">Service Provider</a>
            <a class="collapse-item" href="">Group</a>
          </div>
        </div>
      </li>
    
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse"  data-target="#collapseOrders" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa fa-shopping-cart"></i>
          <span>Billing Charges</span>
        </a>
        <div id="collapseOrders" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Billing Charges:</h6>
            <a class="collapse-item" href="">Add Recurring Charge</a>
            <a class="collapse-item" href="">Leases</a>
            <a class="collapse-item" href="">Add Lease</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa fa-gbp"></i>
            <span>Pricing</span>
          </a>
          <div id="collapseSales" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Pricing Tools:</h6>
              <a class="collapse-item" href="">Price Change Request</a>
              <a class="collapse-item" href="">Status</a>
              <a class="collapse-item" href="">Admin</a>
            </a>
            </div>
          </div>
         </li>
     
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        KPIs
      </div>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKPI" aria-expanded="true" aria-controls="collapseKPI">
          <i class="fas fa-fw fa fa-area-chart "></i>
          <span>KPIs</span>
        </a>
        <div id="collapseKPI" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">KPIs:</h6>
            <a class="collapse-item" href="">Services Trends</a>
            <a class="collapse-item" href=""></a>
          </a>
          </div>
        </div>
       </li>
       
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
      Numbers
      </div>
      <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUnallocated" aria-expanded="true" aria-controls="collapseAdmin">
        <i class="fas fa-fw fa fa-cog"></i>
        <span>Numbers</span>
      </a>
      <div id="collapseUnallocated" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Numbers:</h6>
          <a class="collapse-item" href="">Unallocated Numbers</a>

        </a>
        </div>
      </div>
     </li>
  
      <!-- Heading -->
     
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Broadworks Tools
      </div>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBW" aria-expanded="true" aria-controls="collapseBW">
          <i class="fas fa-fw fa fa-wrench"></i>
          <span>Broadworks</span>
        </a>
        <div id="collapseBW" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tools:</h6>
            <a class="collapse-item" href="/surf/broadworks/autologinvm" >Voicemail  <span class="badge badge-danger">BETA</span></a>
          </a>
          </div>
        </div>
       </li>
  

      
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        TurboBridge
      </div>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTB" aria-expanded="true" aria-controls="collapseTB">
          <i class="fas fa-fw fa fa-phone"></i>
          <span>TurboBridge</span>
        </a>
        <div id="collapseTB" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Options:</h6>
            <a class="collapse-item" href="">Accounts</a>
          </a>
          </div>
        </div>
       </li>
      
    
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Sentry
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSentry" aria-expanded="true" aria-controls="collapseSentry">
          <i class="fas fa-fw fa fa-shield"></i>
          <span>Sentry</span>
        </a>
        <div id="collapseSentry" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sentry:</h6>
            <a class="collapse-item" href="">Group Spend</a>
          </div>
        </div>
      </li>
    
      
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Inventory Managment
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAsset" aria-expanded="true" aria-controls="collapseAsset">
          <i class="fas fa-fw fa fa-cubes"></i>
          <span>Inventory Managment</span>
        </a>
        <div id="collapseAsset" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Inventory:</h6>
            <a class="collapse-item" href="">Inventory</a>
          
            <a class="collapse-item" href="">Third Party Providers</a>
          </div>
        </div>
      </li>
     
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
        Tools
        </div>
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
          <i class="fas fa-fw fa fa-cog"></i>
          <span>Admin</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Admin Tools:</h6>
            <a class="collapse-item" href="">Users</a>
            <a class="collapse-item" href="">Logs</a>
          </a>
          </div>
        </div>
       </li>
     

      <br>
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>




          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->

            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.get_username}}</span>
                <img class="img-profile rounded-circle" src="/surf/media/{{user.userprofile.photo}}" height="60" width="60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-4 text-gray-800">Page</h1> -->

         <!-- <div aria-live="polite"  aria-atomic="true" style="position: relative;">
             <div class="toast" data-autohide="false" style="position: absolute; top: 0; right: 0; z-index: 1;">
               <div class="toast-header">
                 <img src="http://127.0.0.1:8000/surf/media/images/2_mId0GOY.jpg" class="rounded mr-2" alt="..." height="40" width="40">
                 <strong class="mr-auto">Something Happened</strong>
                 <small>11 mins ago</small>
                 <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="toast-body">
                 Hello, world! This is a toast message.
                 Lorem ipsum dolor sit amet, consectetur adipis
               </div>
             </div>
          </div>-->


          {% if messages %}
          {% for message in messages %}

          {% if message.tags == 'error' %}
           <div class="alert alert-danger alert-dismissible fade show">
                  <strong>Error:    </strong> {{message}}
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
           </div>
          {% else %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show">
                  <strong>Message:    </strong> {{message}}
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
           </div>
          {% endif %}
          {%endfor%}
          {% endif %}



         <!-- Position it -->


          {% block content %}

          {% endblock %}

        </div>
        </div>
        <!-- /.container-fluid -->

      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Surf Alpha v{{version}} 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</div>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-info" href="">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/js/surf/main.js"></script>
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/js/sb-admin-2.min.js"></script>


  {% block extra_js %}
  {% endblock extra_js %}

</body>

</html>
